    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
    * {
        outline: none;
        box-sizing: border-box;
    }
    
     :root {
        --theme-bg-color: rgba(16 18 27 / 40%);
        --border-color: rgba(113 119 144 / 25%);
        --theme-color: #f9fafb;
        --inactive-color: rgb(113 119 144 / 78%);
        --body-font: "Poppins", sans-serif;
        --hover-menu-bg: rgba(12 15 25 / 30%);
        --content-title-color: #999ba5;
        --content-bg: rgb(146 151 179 / 13%);
        --button-inactive: rgb(249 250 251 / 55%);
        --dropdown-bg: #21242d;
        --dropdown-hover: rgb(42 46 60);
        --popup-bg: rgb(22 25 37);
        --search-bg: #14162b;
        --overlay-bg: rgba(36, 39, 59, 0.3);
        --scrollbar-bg: rgb(1 2 3 / 40%);
    }
    
    .light-mode {
        --theme-bg-color: rgb(255 255 255 / 31%);
        --theme-color: #3c3a3a;
        --inactive-color: #333333;
        --button-inactive: #3c3a3a;
        --search-bg: rgb(255 255 255 / 31%);
        --dropdown-bg: #f7f7f7;
        --overlay-bg: rgb(255 255 255 / 30%);
        --dropdown-hover: rgb(236 236 236);
        --border-color: rgb(255 255 255 / 35%);
        --popup-bg: rgb(255 255 255);
        --hover-menu-bg: rgba(255 255 255 / 35%);
        --scrollbar-bg: rgb(255 253 253 / 57%);
        --content-title-color: --theme-color;
    }
    
    html {
        box-sizing: border-box;
        overflow: hidden;
        -webkit-font-smoothing: antialiased;
    }
    
    body {
        font-family: var(--body-font);
        background-image: url(https://wallpapershome.com/images/wallpapers/macos-big-sur-1280x720-dark-wwdc-2020-22655.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2em;
        width: 100%;
        height: 100vh;
        @media screen and (max-width: 480px) {
            padding: 0.8em;
        }
    }
    
    .video-bg {
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    img {
        max-width: 100%;
    }
    
    .dark-light {
        position: fixed;
        bottom: 50px;
        right: 30px;
        background-color: var(--dropdown-bg);
        box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.2);
        padding: 8px;
        border-radius: 50%;
        z-index: 3;
        cursor: pointer;
        svg {
            width: 24px;
            flex-shrink: 0;
            fill: #ffce45;
            stroke: #ffce45;
            transition: 0.5s;
        }
    }
    
    .light-mode {
        .dark-light svg {
            fill: transparent;
            stroke: var(--theme-color);
        }
        .profile-img {
            border: 2px solid var(--theme-bg-color)
        }
        .content-section ul {
            background-color: var(--theme-bg-color);
        }
        .pop-up__title {
            border-color: var(--theme-color);
        }
        .dropdown.is-active ul {
            background-color: rgba(255, 255, 255, .94);
        }
    }
    
    body.light-mode:before,
    body.light-mode .video-bg:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.72) 0%, rgba(255, 255, 255, 0.45) 100%);
        backdrop-filter: saturate(3);
    }
    
    .app {
        background-color: var(--theme-bg-color);
        max-width: 1250px;
        max-height: 860px;
        height: 90vh;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: 100%;
        border-radius: 14px;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        font-size: 15px;
        font-weight: 500;
    }
    
    $white: rgba(255,
    255,
    255,
    0.3);
    body {
        height: 100vh;
        font-family: 'Montserrat', sans-serif;
    }
    
    .container {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }
    
    form {
        background: $white;
        padding: 4em;
        border-radius: 20px;
        border-left: 1px solid $white;
        border-top: 1px solid $white;
        backdrop-filter: blur(10px);
        box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
        text-align: center;
        position: relative;
        transition: all 0.2s ease-in-out;
        p {
            font-weight: 500;
            color: #fff;
            opacity: 0.7;
            font-size: 1.4rem;
            margin-top: 0;
            margin-bottom: 60px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        }
        a {
            text-decoration: none;
            color: #ddd;
            font-size: 12px;
            &:hover {
                text-shadow: 2px 2px 6px #00000040;
            }
            &:active {
                text-shadow: none;
            }
        }
        input {
            background: transparent;
            width: 200px;
            padding: 1em;
            margin-bottom: 2em;
            border: none;
            border-left: 1px solid $white;
            border-top: 1px solid $white;
            border-radius: 5000px;
            backdrop-filter: blur(5px);
            box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
            color: #fff;
            font-family: Montserrat, sans-serif;
            font-weight: 500;
            transition: all 0.2s ease-in-out;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
            &:hover {
                background: rgba(255, 255, 255, 0.1);
                box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
            }
            &[type="email"],
            &[type="password"] {
                &:focus {
                    background: rgba(255, 255, 255, 0.1);
                    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
                }
            }
            &[type="button"] {
                margin-top: 10px;
                width: 150px;
                font-size: 1rem;
                &:hover {
                    cursor: pointer;
                }
                &:active {
                    background: rgba(255, 255, 255, 0.2);
                }
            }
        }
        &:hover {
            margin: 4px;
        }
    }
    
     ::placeholder {
        font-family: Montserrat, sans-serif;
        font-weight: 400;
        color: #fff;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    }
    
    .drop {
        background: $white;
        backdrop-filter: blur(10px);
        border-radius: 10px;
        border-left: 1px solid $white;
        border-top: 1px solid $white;
        box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
        position: absolute;
        transition: all 0.2s ease;
        &-1 {
            height: 80px;
            width: 80px;
            top: -20px;
            left: -40px;
            z-index: -1;
        }
        &-2 {
            height: 80px;
            width: 80px;
            bottom: -30px;
            right: -10px;
        }
        &-3 {
            height: 100px;
            width: 100px;
            bottom: 120px;
            right: -50px;
            z-index: -1;
        }
        &-4 {
            height: 120px;
            width: 120px;
            top: -60px;
            right: -60px;
        }
        &-5 {
            height: 60px;
            width: 60px;
            bottom: 170px;
            left: 90px;
            z-index: -1;
        }
    }
    
    a,
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }
    
    .flex-container {
        display: flex;
        flex-direction: row;
    }
    
    .grp {
        border: 10%;
        flex: 50%;
    }
    
    @media (max-width: 800px) {
        .grp {
            flex: 100%;
        }
    }
    
    .Spacing {
        padding: 20px;
    }