<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/css/style_Dashboard/styles_Dashboard.css">

</head>

<body>

    <div class="video-bg">
        <video width="320" height="240" autoplay loop muted>
         <source src="https://assets.codepen.io/3364143/7btrrd.mp4" type="video/mp4">
       Your browser does not support the video tag.
       </video>
    </div>
    <div class="dark-light">
        <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z" /></svg>
    </div>
    <div class="app">
        <div class="header">
            <div class="menu-circle">CitiBank</div>
            <div class="header-menu">
                <a class="menu-link is-active" href="#">Apps</a>
                <a class="menu-link notify" href="#">Your Portfolio</a>
                <a class="menu-link" href="#">Discover</a>
                <a class="menu-link notify" href="#">Market</a>
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Search">
            </div>
            <div class="header-profile">
                <div class="notification">
                    <span class="notification-number">3</span>
                    <svg viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell">
            <path d="M18 8A6 6 0 006 8c0 7-3 9-3 9h18s-3-2-3-9M13.73 21a2 2 0 01-3.46 0" />
           </svg>
                </div>
                <svg viewBox="0 0 512 512" fill="currentColor">
           <path d="M448.773 235.551A135.893 135.893 0 00451 211c0-74.443-60.557-135-135-135-47.52 0-91.567 25.313-115.766 65.537-32.666-10.59-66.182-6.049-93.794 12.979-27.612 19.013-44.092 49.116-45.425 82.031C24.716 253.788 0 290.497 0 331c0 7.031 1.703 13.887 3.006 20.537l.015.015C12.719 400.492 56.034 436 106 436h300c57.891 0 106-47.109 106-105 0-40.942-25.053-77.798-63.227-95.449z" />
          </svg>
                <img class="profile-img" src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80" alt="">
            </div>
        </div>
        <div class="wrapper">
            <div class="left-side">
                <div class="side-wrapper">
                    <div class="side-title">Apps</div>
                    <div class="side-menu">
                        <a href="#">
                            <svg viewBox="0 0 512 512">
              <g xmlns="http://www.w3.org/2000/svg" fill="currentColor">
               <path d="M0 0h128v128H0zm0 0M192 0h128v128H192zm0 0M384 0h128v128H384zm0 0M0 192h128v128H0zm0 0" data-original="#bfc9d1" />
              </g>
              <path xmlns="http://www.w3.org/2000/svg" d="M192 192h128v128H192zm0 0" fill="currentColor" data-original="#82b1ff" />
              <path xmlns="http://www.w3.org/2000/svg" d="M384 192h128v128H384zm0 0M0 384h128v128H0zm0 0M192 384h128v128H192zm0 0M384 384h128v128H384zm0 0" fill="currentColor" data-original="#bfc9d1" />
             </svg> All Apps
                        </a>
                        <a href="#">
                            <svg viewBox="0 0 488.932 488.932" fill="currentColor">
              <path d="M243.158 61.361v-57.6c0-3.2 4-4.9 6.7-2.9l118.4 87c2 1.5 2 4.4 0 5.9l-118.4 87c-2.7 2-6.7.2-6.7-2.9v-57.5c-87.8 1.4-158.1 76-152.1 165.4 5.1 76.8 67.7 139.1 144.5 144 81.4 5.2 150.6-53 163-129.9 2.3-14.3 14.7-24.7 29.2-24.7 17.9 0 31.8 15.9 29 33.5-17.4 109.7-118.5 192-235.7 178.9-98-11-176.7-89.4-187.8-187.4-14.7-128.2 84.9-237.4 209.9-238.8z" />
             </svg> Updates
                            <span class="notification-number updates">3</span>
                        </a>
                    </div>
                </div>
                <div class="side-wrapper">
                    <div class="side-title">Categories</div>
                    <div class="side-menu">
                        <a href="#">
                             Micro Lending
                        </a>
                        <a href="#">
                             Advancement of Loans
                        </a>
                        <a href="#">
                             Cheque payments </a>
                        <a href="#">
                             Consultancy
                        </a>
                        <a href="#">
                             Guarantee by banks
                        </a>
                        <a href="#">
                             Terms and Conditions
                        </a>
                    </div>
                </div>
                <div class="side-wrapper">
                    <div class="side-title">Balance</div>
                    <div class="side-menu">
                        <a href="#">
                             Current Account
                        </a>
                        <a href="#">
                            Savings Account
                       </a>
                    </div>
                </div>
                <div class="side-wrapper">
                    <div class="side-title">Helpline</div>
                    <div class="side-menu">
                        <a href="#">
                            1860 210 2484
                        </a>

                    </div>
                </div>
            </div>
            <div class="main-container">
                <div class="main-header">
                    <a class="menu-link-main" href="#">All Apps</a>
                    <div class="header-menu">
                        <a class="main-header-link is-active" href="#">Desktop</a>
                        <a class="main-header-link" href="#">Mobile</a>
                        <a class="main-header-link" href="#">Web</a>

                    </div>
                </div>
                <div class="content-wrapper">
                    <div class="content-wrapper-header">
                        <div class="content-wrapper-context">
                            <h3 class="img-content">
                                <svg viewBox="0 0 335 335" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <image id="image0_110_3" width="335" height="335" xlink:href="https://www.logolynx.com/images/logolynx/88/889022d32b7518102de9d3c9cd19d551.jpeg"</defs>
                                    </svg> Citibank
                            </h3>
                            <div class="content-text">Citi is an employer of choice in India and serves the full spectrum of clients—from helping India's top global corporations commit capital, make markets and manage their global cash.</div>
                            <button class="content-button">View Offers</button>
                        </div>

                        <lottie-player class="content-wrapper-img" src="https://assets7.lottiefiles.com/packages/lf20_ml0yft0o.json" background="transparent" speed="1" loop autoplay></lottie-player>
                    </div>
                    <div class="content-section">
                        <div class="content-section-title">Installed</div>
                        <ul>
                            <li class="adobe-product">
                                <div class="products">
                                    Financial information
                                </div>
                                <span class="status">
               <span class="status-circle green"></span> Updated
                                </span>
                                <div class="button-wrapper">
                                    <button class="content-button status-button open">Open</button>
                                    <div class="menu">
                                        <button class="dropdown">
                 <ul>
                  <li><a href="#">Check Info</a></li>
                  <li><a href="#">Update Info</a></li>
                  <li><a href="#">Learn more</a></li>
                 </ul>
                </button>
                                    </div>
                                </div>
                            </li>
                            <li class="adobe-product">
                                <div class="products">
                                    Personal Information
                                </div>

                                <span class="status">
               <span class="status-circle"></span> Update</span>
                                <div class="button-wrapper">
                                    <button class="content-button status-button">Update personal info</button>
                                    <div class="pop-up">
                                        <div class="pop-up__title">Update Personal Information
                                            <svg class="close" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle">
                  <circle cx="12" cy="12" r="10" />
                  <path d="M15 9l-6 6M9 9l6 6" />
                 </svg>
                                        </div>
                                        <div class="pop-up__subtitle">To edit the info that you use on more personalised services complete your personal details like your name and photo. <a href="#">Learn more</a></div>
                                        <div class="checkbox-wrapper">
                                            <input type="checkbox" id="check1" class="checkbox">
                                            <label for="check1">I hereby confirm that this is the original user of this account</label>
                                        </div>
                                        <div class="checkbox-wrapper">
                                            <input type="checkbox" id="check2" class="checkbox">
                                            <label for="check2">Verify Captcha</label>
                                        </div>
                                        <div class="content-button-wrapper">
                                            <button class="content-button status-button open close">Cancel</button>
                                            <button class="content-button status-button">Continue</button>
                                        </div>
                                    </div>
                                    <div class="menu">
                                        <button class="dropdown">
                 <ul>
                    <li><a href="#">Check Info</a></li>
                    <li><a href="#">Update Info</a></li>
                    <li><a href="#">Learn more</a></li>
                 </ul>
                </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="content-section">
                        <div class="content-section-title">Distiguised Features</div>
                        <div class="apps-card">
                            <div class="app-card">
                                <span>
                                    Make Transactions
                                    </span>
                                <div class="app-card__subtext">Make seamless transactions.</div>
                                <form>
                                    <input type="email" placeholder="Email"><br>
                                    <input type="password" placeholder="Password"><br>
                                    <input type="text" placeholder="Sign in"><br>
                                    <div class="app-card-buttons">
                                        <button class="content-button status-button">Transaction</button>
                                        <div class="menu"></div>
                                    </div>
                                </form>

                            </div>
                            <div class="app-card">
                                <span>
               
               Apply for loan
              </span>
                                <div class="app-card__subtext">Apply for loan </div>
                                <form>
                                    <input type="email" placeholder="Email"><br>
                                    <input type="password" placeholder="Password"><br>
                                    <input type="text" placeholder="Sign in"><br>
                                    <div class="app-card-buttons">
                                        <button class="content-button status-button">Apply</button>
                                        <div class="menu"></div>
                                    </div>
                                </form>
                            </div>
                            <div class="app-card">
                                <span>
               
               Digital Assets
              </span>
                                <div class="app-card__subtext">Digital Assets and Information</div>
                                <form>
                                    <input type="email" placeholder="Email"><br>
                                    <input type="password" placeholder="Password"><br>
                                    <input type="text" placeholder="Sign in"><br>
                                    <div class="app-card-buttons">
                                        <button class="content-button status-button">Declare</button>
                                        <div class="menu"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay-app"></div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/js/script_Dashboard.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

</body>


</html>