<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="../static/css/style_Signup/styles_Signup.css">
    <title>Document</title>
</head>

<body>
    <div class="video-bg">
        <video width="320" height="240" autoplay loop muted>
         <source src="https://assets.codepen.io/3364143/7btrrd.mp4" type="video/mp4">
       Your browser does not support the video tag.
       </video>
    </div>
    <div class="dark-light">
        <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z" /></svg>
    </div>
    <div class="a">

        <div class="flex-container">
            <div class="Spacing">
                <div class="grp">
                    <form method="post" action="/signup">
                        <p><b>Sign Up</b></p>
                        <input type="text" placeholder="Name" name="user_name"><br>
                        <input type="password" placeholder="Password" name="user_password"><br>
                        <input type="button" value="Register"><br>
                        <a href="#">More Information</a>
                    </form>
                </div>
            </div>

            <div class="Spacing">
                <div class="grp">
                    <form method="post" action="/login">
                        <p><b>Login</b></p>
                        <input type="text" placeholder="Name" name="user_name"><br>
                        <input type="password" placeholder="Password" name="user_password"><br>
                        <input type="button" value="Sign in"><br>
                        <a href="#">Forgot Password?</a>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="../static/js/script_Signup.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>

</html>